  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Encode Sans Expanded', sans-serif;
      user-select: none;
  }

/* ------------- DASHBOARD PAGE STYLES -------------- 

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  background-color: aqua;
}

.dashboard-title {
  font-size: 32px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  margin-bottom: 30px;
}

.dashboard-body {
  width: 100%;
  color: #000000;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 30px;
  
  transition: all 0.2s ease-in-out;
}

.icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.text {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px #0000004d;
  display: inline-block;
  background-color: #01bf71;
  width: 100%;
}

.form-input-container {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8c8c8;
  width: fit-content;
}

.title-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
}

.description-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
}

.deadline-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
}

.attachments-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
}

.board-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
}

.task-table {
  background-color: red;
  border: 1px solid black;
  margin: 10px;
}

*/

/* ------------- USER PROFILE PAGE STYLES -------------- */

.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 300px;
  padding: 20px;
}

.user-details-container {
  margin-left: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}

.user-profile-title {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.button {
  background-color: #01bf71;
  color: #000;
  border: none;
  padding: 15px;
  margin: 5px;
  font-size: 15px;
  border-radius: 320px;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.user-profile-popup {
  margin-top: 30px;;
  border-radius: 20px;
  background-color: aqua;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid black;
}