@font-face {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 400;
    src: local('Encode Sans Expanded Regular'), local('EncodeSansExpanded-Regular'), url(https://fonts.gstatic.com/s/encodesansexpanded/v12/cIf-Ma5eqk01EiLjEzgmS7l0PF80.woff2) format('woff2');
  }
  
  @font-face {
    font-family: 'Encode Sans Expanded';
    font-style: normal;
    font-weight: 700;
    src: local('Encode Sans Expanded Bold'), local('EncodeSansExpanded-Bold'), url(https://fonts.gstatic.com/s/encodesansexpanded/v12/cIf4Ma5eqk01EiLjEzgmS7l0PF80.woff2) format('woff2');
  }
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Encode Sans Expanded', sans-serif;
  }

  html {
    user-select: none;
  }


/* ------------- DASHBOARD PAGE STYLES -------------- */

.dashboard-title {
  font-size: 32px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  margin-bottom: 30px;
}

.dashboard-body {
  width: 100%;
  color: #000000;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 30px;
  
  transition: all 0.2s ease-in-out;
}

.icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.text {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px #0000004d;
  display: inline-block;
  background-color: #01bf71;
  width: 90%;
}

.form-input {
  background-color: red;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  max-width: 1200px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the container */
  width: 100%;
}

.board-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
}

/* ------------- USER PROFILE PAGE STYLES -------------- */

.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.user-details-container {
  margin-left: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}

.user-profile-title {
  font-size: 32px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px;
  margin: 5px;
  font-size: 15px
}

.button:hover {
  background-color: #01bf71;
  color: #fff;
  
}