body {
  margin: 0;
}

.user-profile-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  height: 60%;
}

.user-profile-container div {
  text-align: center;
}

.signup-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 50px;
}

.login-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 50px;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}

h1 {
  margin-top: 1rem;
  text-align: center;
}

.top {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  width: 400px;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
}

.add {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.todo {
  position: relative;
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
}

.icon {
  cursor: pointer;
  font-size: 20px;
}